@import "normalize.css";
@import "base/_variables";
@import "base/_mixins";
@import "base/_wrapper";
@import "base/_page-section";
@import "modules/_large-hero";
@import "modules/_headline";
@import "base/_global";
@import "modules/_button.css";
@import "modules/_row";
@import "modules/_generic-content-container";
@import "modules/_section-title";
@import "modules/_feauture-item";
@import "modules/_testimonial";
@import "modules/_sprite";
@import "modules/_site-footer";
@import "modules/_site-header";
@import "modules/_reveal-item";
@import "modules/_modal";
@import "modules/_social-icons";

body {
	font-family: "Roboto", "san-serif"; 
	color:#333;
}

img {
	max-width: 100%;
	height:auto;
}
